@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

@layer base {
  body {
    height: 100vh;
    background-color: #1a1a1a;
    color: #fff;
    padding: 0 32px;
  }
}

